@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-8">
        <div class="text-center">
            <h1 class="display-4">Superheroes!</h1>
            Create, update and delete superheroes from our list.
        </div>
    </div>
    <div class="col-md-4">
        <img src="/images/aquaman.jpg" alt="Aquaman" />
    </div>
</div>

